<div class="container text-center py-5 mb-4 ">
	<div class="p-5 mb-4 lc-block">
		<div class="lc-block mb-4">
			<div editable="rich">
				<h2 class="fw-bold display-2">Gençlere Destek</h2>
				<h2 class="fw-bold display-2">Geleceğe Destek<br></h2>
			</div>
		</div>
		<div class="lc-block mb-5">
			<div editable="rich">
				<p class="lead">Türkiye'de gençlere destek olabilecek Yazılım Firmalarını bu sayfada bulabilirsiniz.</p>
			</div>
		</div>
	</div>
</div>